[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
ultralytics = "*"
vgamepad = "*"
pydantic = "*"
pydantic-settings = "*"
python-uinput = "*"

[dev-packages]

[requires]
python_version = "3.12"
